@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel's' Film Collections</h1>
    <p>Learn about films I like, and other cool stuff!</p>
</div>
<p>This will be a website all about films</p>
<img src="~/img/JohnHilton.jpg" />
<p>All inspired and created for Joel Hilton</p>
<img src="~/img/film.jpeg" />

<div>
    <a asp-controller="Home" asp-action="AddFilm">Add a new film</a>
</div>