@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Check out the following page for everything and anything you could ever want: </p><a href="https://baconsale.com/">Baconsale</a>
